body{
  position: relative;


}


.card{
 position:absolute;
 /*border: 1px solid  red;*/
 background-image: url("https://i-h1.pinimg.com/564x/40/19/e8/4019e8875533c71af5081e692bd6747c.jpg");
 background-size: 100% 100%;
 height: 360px;
  width:530px;
 border-radius: 30px;
 


}

.card h1{
  color:white;
  margin: 20px  80px;
  font-size: 40px;
  
  text-align: end;


}
.image2{
  width: 100px;
  height:80px ;
  margin: 0px 50px 10px 50px;
 
}
.card h2{
 
  width:300px;
  margin: 0px 45px;
 text-align: center;
 color: gold;
 background-color: rgba(231, 193, 24, 0.5);
 font-size: 28px;
} 
.image3{
  width:80px;
  height:100px;
 /* border: 1px solid black;*/
  margin: 10px 415px;
}
.low-card{
  position: absolute;
  display: flex;
  /*border: 1px solid  green ;*/
  margin: -120px 40px;
}
.number{
  margin: 0px 0px -20px 0px;
 /* border: 1px solid  red ;*/
 width: 160px;
 height: 100px;
 
}
 
.number h1{
  font-size: 22px;
  margin-left: 0px;
  text-align: start;
}
.describe{
 /* border: 1px solid blue ;*/
  width:80px;
  height:100px;
  color: white;
  margin: 5px -2px;
}
.describe h6{
  margin-top: 0px;
}
.describe h3{
  font-size: 28px;
  margin-top: -30px;
}


.valid{
  /*border: 1px solid yellow ;*/
  width:50px;
  height:100px;
  color: white;
  margin: 5px 5px;
  
}
.valid h4{
  font-size: 11px;
  text-align:end; 
}
.valid h5{
  font-size: 11px;
  text-align:end; 
  margin-top: -19px;
}